<div class="container">
  <h1>Nhóm 4444</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Thành viên nhóm</th>
        <th>MSSV</th>
        <th>Phụ trách</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Phạm Minh Thiện (Trưởng nhóm)</td>
        <td>501210013</td>
        <td>Phân chia công việc</td>
      </tr>
      <tr>
        <td>Ngô Đại Minh Hùng</td>
        <td>501210190</td>
        <td>Thông tin nhân viên</td>
      </tr>
      <tr>
        <td>Phạm Phúc Toàn</td>
        <td>501210206</td>
        <td>Tìm kiếm nhân viên, đănh nhập, đăng xuất</td>
      </tr>
      <tr>
        <td>Trần Đại Dương</td>
        <td>501210164</td>
        <td>Tính lương nhân viên</td>
      </tr>
    </tbody>
  </table>
</div>